<main class='main'>
  <section class="main__content">
    {{#with data}}
    <div class='alert'>
      <h1 class='alert__title'>{{message}}!</h1>
      <p class='alert__text'>{{info}}</p>
      <a href='{{link}}' class='alert__button'>Повернутися назад</a>
    </div>
    {{/with}}
  </section>
</main>