@use '../../lib/servises.scss' as s;

@use '../../lib/spotify.scss' as spotify;
    
.main__content {
    @extend .column;
    min-height: 100vh;
    width: 100%;
    max-width: 730px;
    padding: s.space(9) s.space(1);
    gap: s.space(15);
}

.header-search {
    display: grid;
    grid-template-columns: 50px auto min-content;
    gap: s.space(5);
    border-radius: 8px;
    background: #292929;
    padding: s.space(2) s.space(8);

    .search__input {
        font-size: s.size(textDescription);
    }

    .search__button {
        font-size: s.size(textSubtitle);
        color: s.color(light);
        transition: opacity 0.6s;

        &:hover {
            opacity: 0.6;
        }
    }
}

.playlist__list {
    @extend .column;
    gap: s.space(8);
}

.playlist {
    @extend .row;
    gap: s.space(5);

    &__image {
        @extend .icon;
        width: 164px;
        height: 164px;
    }

    &__content {
        @extend .column;
        gap: s.space(5);
    }

    &__title {
        @extend .title;
        font-size: s.size(textDescription);
    }

    &__text {
        @extend .text;
        font-size: s.size(textSmall);
    }
}